body {
    background-color: #D82F5A;
}

.logo {
    position: relative;
    z-index: 2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.corner-circle-bottom {
    position: fixed;
    bottom: -380px;
    right: -225px;
    width: 950px;
    height: 950px;
    background-color: rgba(229, 83, 127, 1);
    border-radius: 50%;
    z-index: 1;
}
.corner-circle-top {
    position: fixed;
    top: -380px;
    left: -170px;
    width: 950px;
    height: 950px;
    background-color: rgba(229, 83, 127, 1);
    border-radius: 50%;
    z-index: 1;
}
.mainContainer{
    display: flex;
    gap: 90px;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: white;
    height: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 720px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    transition-property: all;
    transition-duration: 2s;
}
.Head{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    padding: 40px 0 20px;
}
.smallInput{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    font-size: 20px;
}

.username-input,
.password-input {
    width: 75%;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    background-color: #F4E3E3;
}

.next-button {
    width: 75%;
    height: 50px;
    border-radius: 20px;
    background-color: #D82F5A;
    font-size: 20px;
    color: white;
    border: 1px white;
}

.forgot-password-button {
    margin-bottom: 25px;
    float: right;
    margin-right: 60px;
    margin-top: -20px;
    text-align: right;
    font-size: 20px
}