ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.avatar {
    display: block;
    border-radius: 50%;

    width: 30px;
    height: 30px;
    pointer-events: none;
}

.icon-button {
    display: flex;
    background: none;
    border: none;

    width: 30px;
    height: 30px;
    border-radius: 50%;

    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;

    cursor: pointer;
}

.icon {
    float: right;
}

.icon-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0px;
}

.icon-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.icon a:hover {
    background-color: #ddd;
}

.show {
    display: inline;
}