@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D82F5A;
    min-height: 100vh;
    box-sizing: border-box;
}

.centerBox {
    position: relative;
}

.logo {
    position: relative;
    z-index: 2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
.corner-circle-bottom {
    position: fixed;
    bottom: -380px; /* Adjust as needed */
    right: -225px; /* Adjust as needed */
    width: 850px; /* Adjust as needed */
    height: 850px; /* Adjust as needed */
    background-color: rgba(229, 83, 127, 1);
    border-radius: 50%;
    z-index: 1;
}
.corner-circle-top {
    position: fixed;
    top: -380px; /* Adjust as needed */
    left: -170px; /* Adjust as needed */
    width: 850px; /* Adjust as needed */
    height: 850px; /* Adjust as needed */
    background-color: rgba(229, 83, 127, 1);
    border-radius: 50%;
    z-index: 1;
}
.mainContainer{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: white;
    height: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 720px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 96px;
    z-index: 2;

    transition-property: all;
    transition-duration: 2s;
}
.signUpHead{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
    padding: 40px 0 20px;
}
.smallInput{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    font-size: 20px;
}

.largeInput {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    font-size: 20px;
}

.termsAndConditions{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #7E3030;
}

.next-button {
    width: 200px;
}

.registerButton{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    background-color: rgba(229, 78, 78, 0.89);
    color: white;
    border: none;
    border-radius: 17px;
    width: 200px;
    height: 60px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 450px;
}

.textInput {
    width: 450px;
    height: 60px;
    border-radius: 10px;
    border: none;
    text-align: start;
    padding-left: 10px;
    font-size: 20px;
    background-color: #F4E3E3;
    font-family: "Montserrat", sans-serif;
}
.textInput:focus {
    outline: none;
}



#part2 {
    display: none;
}

.formBox {
    display: flex;
}

.registerForm {
    display: inline-block;
}

.disclaimer {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #7E3030;
    width: 60%;
    text-align: center;
}

textarea {
    font-family: "Montserrat", sans-serif;
    resize: none;
    width: 450px;
    height: 300px;
    border-radius: 10px;
    border: none;
    text-align: start;
    padding-left: 10px;
    font-size: 20px;
    background-color: #F4E3E3;
}

textarea:focus {
    outline: none;
}