<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{login/login.css}" href="../static/login/login.css">
</head>

<body>
<div class="corner-circle-bottom"></div>
<div class="corner-circle-top"></div>
<img class="logo" th:src="@{login/LOGOS_6_cropped.png}" src="../static/images/LOGOS_6_cropped.png">
    <div class="white-box">
        <div class="login">
            <p>Login</p>
            <input class="username-input" type="text" placeholder="Enter Username">
            <input class="password-input" type="text" placeholder="Enter Password">
            <div class="forgot-password-button">
                <a href="forgotpassword.html">Forgot Password?</a>
            </div>
            <div class="submitBox">
                <div class="smallInput">
                    <input type="submit" class="registerButton" id="submitButton" name="submitButton" value="Submit">
                </div>
                <a class="forgotPass" href="forgotpassword.html">forgot password?</a>
            </div>
        </form>
    </div>
</div>
</body>

</html>