<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{login/login.css}" href="../static/login/login.css">
</head>

<body>
<img class="logo" th:src="@{login/LOGOS_6_cropped.png}" src="../static/images/LOGOS_6_cropped.png">
<div class="centerBox">
    <div class="mainContainer">
        <div class="Head">Login</div>
        <form id="login">
            <div class="inputBox">
                <div class="smallInput">
                    <input type="text" class="textInput" id="username" name="username" placeholder="Enter Username">
                </div>
                <div class="smallInput">
                    <input type="password" class="textInput" id="password" name="password" placeholder="Enter Password">
                </div>
            </div>
            <div class="submitBox">
                <div class="smallInput">
                    <input type="submit" class="registerButton" id="submitButton" name="submitButton" value="Submit">
                </div>
                <a class="forgotPass" href="forgotpassword.html">forgot password?</a>
            </div>
        </form>
    </div>
</div>
</body>

</html>